@typeparam TItem  

<div class="justify-content-md-center">
    <button class="btn btn-xs btn-secondary" type="button" role="button" @onclick="SelectAll">Select All</button>
    <button class="btn btn-xs btn-secondary" type="button" role="button" @onclick="UnselectAll">Unselect All</button>
</div>
<br>
<div style=@Style >
    @if (Data != null)
    {
        foreach (var item in Data)
        {
            var isChecked = SelectedValues.Contains(item);
            <CheckboxListEntry TItem="TItem"
                               Value="@item"
                               DisplayField="@DisplayField"
                               Checked="@isChecked"
                               OnClick="@CheckboxClicked"/>
        }
    }
</div>
@if (Data != null)
{
    <DebounceInput type="text" 
                   class="form-control form-control-sm" 
                   placeholder="Search for" 
                   DebounceTime="@_debounceMilliseconds"
                   MinLength="@_minCharsLength"
                   OnValueChanged="RefreshFilterValues"
                   />
}
  